@import 'base.css';
@import 'modules.css';

img {
    max-width: 100%;
}

section {
    width: 100%;
    margin: 0 auto;
}

#select-wrapper {
    width: 50%;
    margin: 0 auto; 
}

#check-wrapper {
    width: 50%;
    margin: 0 auto; 
}

#button-wrapper {
    width: 50%;
    margin: 0 auto;
}