.checkbox, .radio {
    opacity: 0;
    width: 57px;
    height: 53px;
}

#select-box {
    color:gray;
}

.check-sprite {
    display: inline-block;
    border: 1px solid black;
    background: url("../assets/sprites/form-elements-sprite.png") no-repeat;
    background-position: -55px -85px;
    background-size: 500px;
    width: 55px;
    height: 50px;
}

.radio-sprite {
    display: inline-block;
    border: 1px solid black;
    background: url("../assets/sprites/form-elements-sprite.png") no-repeat;
    background-position: -200px -84px;
    background-size: 500px;
    border-radius: 30px;
    width: 58px;
    height: 57px;
}

.check-sprite.checked {
    border: 1px solid black;
    background: url("../assets/sprites/form-elements-sprite.png") no-repeat;
    background-position: -131px -85px;
    background-size: 500px;
    width: 55px;
    height: 50px;  
}
.radio-sprite.r-checked {
    border: 1px solid black;
    background: url("../assets/sprites/form-elements-sprite.png") no-repeat;
    background-position: -279px -84px;
    background-size: 500px;
    border-radius: 30px;
    width: 58px;
    height: 57px;  
}

.button {
    border: 0;
    width: 7em;
    height: 3em;
    font-weight: bold;
    background: grey;
}
.btn-active {
    background: black;
    color: white;
}
.button:focus {
    outline: none;
}
.button:active {
    background: black;
    color: white;
}

#testbox {
    border: 1px solid black;
    background: url("../assets/sprites/form-elements-sprite.png") no-repeat;
    background-position: -55px -85px;
    background-size: 500px;
    width: 55px;
    height: 50px;
}